@charset "utf-8";
/*	
	v1.0 ¿Ã√¢±‘ reset css 
*/
/* @import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css); */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration:none
}

html,body {
font-family:'Nanum Barun Gothic' sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*a:focus {border:none; outline:none;}*/
body {-webkit-text-size-adjust:none}
.ir{display:block;overflow:hidden;width:0;height:0;font-size:0px;line-height:0;text-indent:-9999px}
.user_blind {font-size:0;line-height:0;visibility:hidden}
.fl {float:left}
.fr {float:right}
.clear_flaot {}
.clear_flaot:after {content:""; clear:both; display:block;}
.pdb_10 {padding-bottom:10px;}
.pdb_20 {padding-bottom:20px;}
.pdb_30 {padding-bottom:30px;}
.pdb_40 {padding-bottom:40px;}
.pdb_50 {padding-bottom:50px;}
.pdt_5 {padding-top:5px;}
.pdt_10 {padding-top:10px;}
.pdt_20 {padding-top:20px;}
.pdt_30 {padding-top:30px;}
.pdt_40 {padding-top:40px;}
.pdt_50 {padding-top:50px;}
.pdl_10 {padding-left:10px;}
.pdl_20 {padding-left:20px;}
.pdl_30 {padding-left:30px;}
.pdl_40 {padding-left:40px;}
.pdl_50 {padding-left:50px;}
.pdr_10 {padding-right:10px;}
.pdr_20 {padding-right:20px;}
.pdr_30 {padding-right:30px;}
.pdr_40 {padding-right:40px;}
.pdr_50 {padding-right:50px;}
.mgb_10 {margin-bottom:10px;}
.mgb_20 {margin-bottom:20px;}
.mgb_30 {margin-bottom:30px;}
.mgb_40 {margin-bottom:40px;}
.mgb_50 {margin-bottom:50px;}
.mgt_10 {margin-top:10px;}
.mgt_20 {margin-top:20px;}
.mgt_30 {margin-top:30px;}
.mgt_40 {margin-top:40px;}
.mgt_50 {margin-top:50px;}
.mgl_10 {margin-left:10px;}
.mgl_20 {margin-left:20px;}
.mgl_30 {margin-left:30px;}
.mgl_40 {margin-left:40px;}
.mgl_50 {margin-left:50px;}
.mgr_10 {margin-right:10px;}
.mgr_20 {margin-right:20px;}
.mgr_30 {margin-right:30px;}
.mgr_40 {margin-right:40px;}
.mgr_50 {margin-right:50px;}
.font_18 {font-size:18px;}
.font_16 {font-size:16px;}
.font_14 {font-size:14px;}
.font_12 {font-size:12px;}
.font_10 {font-size:10px;}